@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.titlebar {
    -webkit-user-select: none;
    -webkit-app-region: drag;
  }
.commandLineStyle {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: normal;
    min-width: 200px;
    color: #7D7D7D;
}

.visibleTextSnippetStyle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #7D7D7D;
}

.hiddenTextSnippetStyle {
    font-family: 'Arial';
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
}

.textSnippetTab {
    font-family: 'Montserrat', sans-serif;
    font-size: 12;
    color: #7D7D7D;
    font-weight: 600;
}

.clipboardCopiedText {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: normal;
    color: #7D7D7D;
    font-size: 14px;
    display: flex;
}

.timeBarText {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    color: #7D7D7D;
    font-size: 11px;
    display: flex;
    height: 10px;
    width: 40px;
    margin-bottom: 5px;
    margin-left: 2px; 
    justify-content: center;
    align-items: center

}